.basicInformationTab .rc-formfield {
  width: 300px;
  margin: 4px;
}

.technicalDetailsTab .rc-formfield {
  width: 450px;
  margin: 4px;
}

.transferPartiesTab .rc-formfield {
  width: 300px;
  margin: 4px;
}

.partyDetailsModal .rc-formfield {
  width: 300px;
  margin: 4px;
}

.transferTermsTab .rc-formfield {
  width: 150px;
  margin: 4px;
}

.technicalDetailsTab .rc-button {
  width: 450px;
  margin: 4px;
}

.technicalDetailsTab .rc-button.partyInfo {
  width: 220px;
  margin: 4px;
}

.react-json-view {
  width: 1000px;
  word-break: break-all;
}

.recharts-legend-wrapper ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.legend-title {
  white-space: nowrap;
  text-decoration: underline;
  color: grey;
}

.transfers__filters {
  margin: 10px 0;
}

.recharts-surface {
  margin-right: 0 !important;
}

.transfer-summary {
  width: 150px;
  text-align: center;
}

/* SINGLE CONTROLS */
.transfers__filters__filter-row {
  display: flex;
  align-items: center;
}

.transfers__filters__date-filter {
  width: 300px;
  margin: 4px;
}

.transfers__filters__date-picker {
  width: 300px;
  margin: 4px;
}

.transfers__filters__textfield {
  width: 300px;
  margin: 4px;
}

.transfers__filters__find {
  width: 300px;
  margin: 4px;
}
